
.conteiner{
display: flex;
flex-wrap: wrap;
align-content: space-around;
}
.caixa{
    display: flex;
    background-color: purple;
    color: white;
    width: 100px;
    height: 250px;
}