
.conteiner{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
}
.caixa{
    background-color: purple;
    color: white;
    width: 200px;
    height: 250px;
    margin-top:10px
}